@import '_mixins.scss';

body .main_page.my_projects {
  background: var(--accent-theme) none;
}

.main_page {
  position: relative;
  overflow: hidden;

  .bulb {
    @include bulb;
    left: 50%;
    transform: translateX(-50%);
  }

  @import '_nav.scss';

 .nav {
   z-index: 10;
 }

  &::before, &::after {
    content: none;
  }

  .content {
    padding-top: 40px;

    h2 {
      position: relative;
      width: fit-content;
      margin: 0 auto;
      z-index: 1;
    }

    @media (max-width: 992px) {
      padding-top: 100px;
    }

    @media (max-width: 768px) {
      padding-top: 40px;
    }
  }

  .arrow_left, .arrow_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 48%;
    height: 100%;
    top: 10%;
    z-index: 1;
    cursor: pointer;

    .text_container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 335px;

      span {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 600;
        color: var(--text-theme);

        @media (max-width:992px) {
          font-size: 25px;
        }

        @media (max-width: 768px) {
          display: none;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: -150px;
        width: 342px;
        height: 150px;
        background-repeat: no-repeat;
        background-size: contain;
        transition: transform .3s ease-in-out;

        @media (max-width: 992px) {
          top: -100px;
          width: 280px;
          height: 80px;
        }

        @media (max-width: 768px) {
          top: unset;
          bottom: -100px;
        }

        @media (max-width: 480px) {
          width: 250px;
          height: 70px;
        }
      }

      @media (max-width: 768px) {
        flex-direction: row;
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      justify-content: flex-start;
      width: 100%;
      height: 30%;
    }
  }

  .arrow_left {
    left: 0;

    .text_container {
      align-items: flex-end;
    }

    &:hover {
      .text_container::before {
        transform: translateX(-50px);

        @media (max-width:992px) {
          transform: translateX(-20px);
        }

        @media (max-width:768px) {
          transform: unset;
        }
      }
    }

    @media (max-width: 768px) {
      animation: arrow_left 2s ease-in-out infinite;
      top: 40%;
    }

    @media (max-width: 640px) {
      top: 30%;
    }
  }

  .arrow_right {
    right: 0;

    .text_container {
      align-items: flex-start;
    }

    &:hover {
      .text_container::before {
        transform: translateX(50px);

        @media (max-width:992px) {
          transform: translateX(20px);
        }

        @media (max-width:768px) {
          transform: unset;
        }
      }
    }

    @media (max-width: 768px) {
      animation: arrow_right 2s ease-in-out infinite;
      top: unset;
      bottom: 0;
    }
  }
}

section.own_projects, section.worked_with {
  h2 {

    @media (max-width: 992px) {
      padding: 70px 10px 0 10px;
    }

    @media (max-height: 700px) {
      padding: 90px 10px 0 10px;
    }
  }
  .arrow_right_back, .arrow_left_back {
    position: absolute;
    top: 200px;
    width: 220px;
    height: 85px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform .3s ease-in-out;

    @media (max-width: 1440px) {
      top: 170px;
    }

    @media (max-width: 992px) {
      width: 150px;
      height: 85px;
      top: 20px;
    }
  }

  .arrow_right_back {
    right: 50px;

    &:hover {
      transform: translateX(20px);

      @media (max-width: 768px) {
        transform: unset;
      }
    }

    @media (max-width: 768px) {
      animation: arrow_right 2s ease-in-out infinite;
    }
  }

  .arrow_left_back {
    left: 50px;

    &:hover {
      transform: translateX(-20px);

      @media (max-width: 768px) {
        transform: unset;
      }
    }

    @media (max-width: 768px) {
      animation: arrow_left 2s ease-in-out infinite;
    }
  }

  .slides_container {
    position: relative;
    width: 100%;
    max-height: 0;
    max-width: 1320px;
    margin: 160px auto 225px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    z-index: 1;
    overflow: hidden;

    transition: max-height .5s ease-in-out;

    @include slide;

    .slide {
      width: 400px;
      height: 400px;
    }

    @media (max-width: 992px) {
      margin: 85px auto 225px auto;
      padding: 0 20px;
      gap: 20px;
    }

    @media (max-width: 480px) {
      margin: 40px auto 225px;
    }
  }
}

section.worked_with {

  &::after, &::before {
    right: 0;
  }
}