:root {
  --main-theme: #6FDCBF;
  --accent-theme: #F6F4F6;
  --text-theme: #404040;

  --main-dark: #774069;
  --accent-dark: #29272A;
  --main-light: #6FDCBF;
  --accent-light: #F6F4F6;

  --text-dark: #404040;
  --text-light: #FAFAFA;
}
