@import '_mixins.scss';

section.my_work {
  position: relative;
  overflow: hidden;

  h2 {
    position: relative;
    z-index: 1;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 90px 0 0 45px;

    .slider_container {
      position: relative;
      margin: 0 0 0 auto;
      width: 100%;
      max-width: 1870px;
      height: 450px;
      overflow: hidden;
      z-index: 1;

      .slider {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        transition: transform .3s ease-in-out;

        @include slide;

        @media (max-width: 360px) {
          height: 380px;
        }
      }


      .prev_btn, .next_btn {
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        background-color: var(--text-theme);
        width: 50px;
        height: 50px;
        border-radius: 100px;
        filter: opacity(0.5);
        cursor: pointer;
        transition: filter .3s ease-in-out;
        z-index: 3;

        &:hover {
          filter: opacity(1);
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;

          @media (min-width: 2560px) {
            width: 48px;
            height: 48px;
          }
        }

        @media (min-width: 2560px) {
          width: 100px;
          height: 100px;
        }

        @media (max-width: 480px) {
          top: 30%;
        }
      }

      .prev_btn {
        left: 0;
      }

      .next_btn {
        right: 0;

        &::before {
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }

      @media (min-width: 2560px) {
        max-width: 1920px;
        height: 550px;
      }

      @media (max-height: 736px) {
        height: 420px;
      }

      @media (max-width: 480px) {
        height: 360px;
      }

      @media (max-width: 360px) {
        height: 370px;
      }
    }


    .check_btn {
      position: relative;
      display: block;
      width: 100%;
      max-width: 400px;
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-weight: 600;
      color: var(--main-theme);
      background-color: var(--accent-theme);
      font-size: 20px;
      border: 1px solid var(--main-theme);
      border-radius: 20px;
      text-decoration: none;
      padding: 20px 10px;
      z-index: 1;
      transition: color .3s ease-in-out, border .3s ease-in-out, background-color .3s ease-in-out;

      &:hover {
        border: 1px solid var(--accent-theme);
        background-color: var(--main-theme);
        color: var(--accent-theme);
      }

      @media (min-width: 2560px) {
        max-width: 600px;
        font-size: 30px;
        padding: 30px 20px;
      }

      @media (max-width: 480px) {
        width: 100%;
        font-size: 16px;
        padding: 15px 10px;
      }
    }

    @media (max-width: 1280px) {
      margin: 40px 0 0 45px;
    }

    @media (max-height: 768px) {
      margin: 40px 0 0 45px;
    }

    @media (max-height: 736px) {
      margin: 40px 0 0 45px;
    }

    @media (max-width: 480px) {
      align-items: flex-start;
    }

    @media (max-width: 360px) {
      margin: 40px 0 0 45px;
    }

    @media (max-width: 320px) {
      margin: 15px 0 0 45px;
    }
  }

  &::before, &::after {
    bottom: unset;
    top: 25px;
    transform: rotate(90deg);
    left: -60px;
  }
}