@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

@import "_light_theme.scss";
@import "_dark_theme.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  background-color: var(--accent-theme);
}

.section {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--accent-theme);
  padding-top: 60px;
  opacity: 0;
  transition: opacity .3s ease-in-out;

  h2 {
    @include section_title;
    text-align: center;
  }

  @media (max-height: 1200px) {
    padding-top: 30px;
  }

  @media (max-height: 700px) {
    padding-top: 0;
  }

  &.active {
    opacity: 1;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 245px;
    bottom: -15px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity .3s ease-in-out;
    opacity: 0.1;
  }

  &::before {
    background-image: url(../img/cat_light.png);
  }

  &::after {
    background-image: url(../img/cat_dark.png);
    opacity: 0;
  }
}

.global_nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  z-index: 10;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style: none;

    li a{
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 100px;
      background-color: transparent;
      border: 1px solid var(--main-theme);
      transition: background-color .3s ease-in-out, transform .3s ease-in-out;

      &.active {
        background-color: var(--main-theme);
      }
      &:hover {
        transform: translateX(2px);
      }
    }
  }
}

@import "main_page";
@import "about_me";
@import "skills";
@import 'my_work';
@import "contact";

